<!DOCTYPE html>
<html>
<head>
  <title>Project Nom</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- top nav-bar -->
<div data-sticky-container>
  <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="main-menu"></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar" id="main-menu" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a className="nav" href="/">PROJECT NOM</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
          <% if signed_in? %>
          <ul class="dropdown menu" data-dropdown-menu>
            <li className="button user-auth"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>
          <% else %>
          <ul class="menu button-group">
            <li className="button user-auth"><%= link_to "Sign In", new_user_session_path %></li>
            <li className="button user-auth"><%= link_to "Sign Up", new_user_registration_path %></li>
          </ul>
          <% end %>
        </div>
  </div>
</div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
